/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem;
  max-height: 100px;
}
.logo {
  width: 100px;
  align-items: baseline;
}
.nav-links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin: 0 2rem;
  font-weight: 700;
}
.cart-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 30px;
}
.nav-cart-mobile {
  display: none;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%  3rem 2rem 7rem;
}
.banner-text {
  flex: 1;
  font-size: xx-large;
}
.banner-text p {
  font-size: large;
}

.orange {
  color: #f58b01;
}

.banner-image {
    flex: 1;
}


/* Plants */
.plants {
  text-align: center;
  padding: 3rem 1rem;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}

.plants h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.plants p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}
.plant-card {
  padding: 1rem;
}
.plant-card button {
  background-color: #f58b01;
  color: white;
  border: none;
  padding: 1rem 6rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 11px;
}


/* Lover Section */
.lover-container {
  display: flex;
  align-items: start;
  padding: 40px 100px 40px 100px;
}

.lover-image-box {
  position: relative;
  flex: 1;
}

.main-img {
  width: 60%;
  display: block;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.badge-img {
  position: absolute;
  bottom: 400px;
  left: 330px;
  width: 200px;
  height: auto;
}

.lover-text {
  flex: 0.5;
  text-align: left;
  margin: 0;
  padding: 0;
}

.lover-text h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.lover-text ul {
  list-style-type: disc;
  padding-right: 30px;
  color: #555;
}

.lover-text li {
  margin-bottom: 5px;
  font-size: 18px;
}



/* Deals */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
 .latest-deal {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
  font-weight: bold;
}
.latest-deal-description {
  text-align: center;
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 50px;
}
.promo-container {
  display: flex;
  max-width: 1140px;
  margin: 40px auto;
  gap: 10px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.promo-card, .right-banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.promo-card img,
.right-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.promo-card {
  height: 200px;
  text-align: center;
  
}

.right-banner {
  flex: 2;
  height: 410px;
}

.text-overlay {
  position: absolute;
  bottom: 60px;
  left: 15px;
  right: 15px;
  color: white;
  text-shadow: 0 0 5px black;
}

.center-text {
  bottom: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  margin-top: 8px;
  padding: 6px 14px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}


/* Join Section */
.join {
  background: url('./B12A02-Responsive-Flowers-main/B12A02-Responsive-Flowers-main/assets/news-letter-bg.png') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 6rem 4rem 4rem 4rem;
    font-size: xx-large;
    margin: 0 auto;
}
.join-form {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  padding: 1rem;
}
.join-form input {
  padding: 0.75rem;
  border: none;
  width: 60%;
}
.join-form button {
  padding: 1rem 2rem;
  background-color: #f58b01;
  color: white;
  border: none;
  margin: 0 0.5rem ;

}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  background: #f1f1f1;
  
}
.footer-links {
  list-style: none;
  margin: 10px 20px 10px 20px;
  padding: 2rem;
}
.footer-icons {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 5rem 2rem 5rem;
  align-items: center;
}
.footer-left {
  padding: 2rem 5rem 2rem 5rem;
  font-size: large;
  max-width: 400px;
  text-align: left;
}